* {
  margin: 0;
  padding: 0;
  text-align: center;
}
h1 {
  background-color: #081b31;
  color: #fff;
  height: 6rem;
  line-height: 6rem;
  font-size: 3rem;
  margin-top: 2rem;
}
.choieses {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}
.choises {
  width: 165px;
  height: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choises:hover {
  cursor: pointer;
  background-color: #081b31;
}
.choises img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 5rem;
  margin-top: 3rem;
}
.score{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#user-score,
#comp-score {
  font-size: 5rem;
}
.massage-container{
    margin-top: 5rem;
}
#msg {
  background-color: #081b31;
  color: #fff;

  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
.U-H{
  color: rgb(1, 94, 1);
  font-weight: 400;
  margin-block: 1rem;
}
.Cp-H{
  color: red;
  font-weight: 400;
  margin-block: 1rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.2rem;
    height: 5rem;
    line-height: 5rem;
  }

  .choieses {
    gap: 2rem;
    margin-top: 3rem;
  }

  .choises {
    width: 130px;
    height: 130px;
  }

  .choises img {
    width: 115px;
    height: 115px;
  }

  .scoreboard {
    font-size: 1.5rem;
    gap: 3rem;
  }

  #user-score,
  #comp-score {
    font-size: 3.5rem;
  }

  #msg {
    font-size: 1.6rem;
  }
}


@media (max-width: 480px) {
  h1 {
    font-size: 1.7rem;
    height: 4rem;
    line-height: 4rem;
    margin-top: 1rem;
  }

  .choieses {
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
  }

  .choises {
    width: 110px;
    height: 110px;
  }

  .choises img {
    width: 95px;
    height: 95px;
  }

  .scoreboard {
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }

  #user-score,
  #comp-score {
    font-size: 3rem;
  }

  #msg {
    font-size: 1.3rem;
    padding: 0.8rem 1.2rem;
  }
}
